* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: scroll;
  margin: 0;
  padding: 0;
  /* Set the gradient background */
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);

  /* Ensure the background covers the whole viewport */
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}
